<h3><i class="fas fa-book-reader"></i> YourStories</h3>
<div class="section">
  <p class="lead">Crie e compartilhe histórias sobre a sua vida</p></div>
<div class="divider"></div>
<div class="section"><a href="/auth/google" class="btn purple darken-1">
    <i class="fab fa-google left"> Login</i>
  </a></div>